<div style=" background: rgb(0, 0, 0); display: block; margin: 0% auto">
    <h4 class="col s12" style="text-align: center;display: block;color: white; padding: 55px 0">Проверка наличия
        Пользователя в списке пользователей операционной системы Windows </h4>

</div>

