<div style="width: 400px; background: rgb(218, 10, 10); height: 200px; display: block; margin: 15% auto">
    <h4 style="text-align: center; display: block; padding: 85px 0">Пользователя нет</h4>
    <a href="../" style="font-size: 40px; text-decoration: underline overline rgb(218, 10, 10); color:black;">Назад</a>
</div>
  