<div class="row">
    <h1 class="col s12" style="text-align: center;">Тестовое задание</h1>
</div>
<form action="/" method="POST">
    <div class="row">
        <div class="input-field col s12">
            <input id="title" name="visitor" type="text" class="validate" required>
            <label for="title">Имя Пользователя</label>
            <span class="helper-text" data-error="Введите имя Пользователя"></span>
        </div>
    </div>
    <button class="btn btn-primary">Проверить</button>
</form>
  
